---
import { getCollection } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import PortfolioPreview from '../../components/PortfolioPreview.astro';
import Hero from '../../components/Hero.astro';
import Grid from '../../components/Grid.astro';

const services = (await getCollection('services')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Services Offered | Levent Erdem"
	description="Learn about services Levent can offer"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Services"
				tagline="Below, some of the services I can offer to assist you."
				align="start"
			/>
			<Grid variant="offset">
				{
					services.map((service) => (
						<li>
							<PortfolioPreview services={service} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA titleForCTA = "Interested in a program development?"/>
	</div>
</BaseLayout>
