---
import BaseLayout from "../layouts/BaseLayout.astro";
import Mail from "../components/Mail.astro";
---

<BaseLayout title="Contact Me" description="Contact form for any questions">
 <div class="stack gap-20">
  <main class="wrapper about">
   <Mail />
  </main>
 </div>
</BaseLayout>

