---
import { db, Contact } from 'astro:db';

import BaseLayout from '../layouts/BaseLayout.astro';

//import { getCollection } from 'astro:content';

/* const experiences = (await getCollection('experience'))
	.sort((a, b) => b.data.fromDate.valueOf() - a.data.fromDate.valueOf()); */

const contacts = await db.select().from(Contact);
---

<BaseLayout>
	<h2>Contact Messages</h2>

	{
		contacts.map(({ name, email, msg }) => (
			<article>
				<p>Name: {name}</p>
				<p>Email: {email}</p>
				<p>MEssage: {msg}</p>
			</article>
		))
	}
</BaseLayout>
