---
import type { CollectionEntry } from 'astro:content';

interface Props {
	experiences: CollectionEntry<'experience'>;
}

const { data } = Astro.props.experiences;
---


<main>
	<section class="grid-container">
		<div class="grid-item">
			<li>
				<experience data={data.logo} />
				<h2>{data.company}</h2>
			</li>
		</div>
	</section>
</main>

<style>
main {
		display: grid;
		place-items: center;
		align-content: center;
		
	}

		.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.05rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.grid-container {
		display: grid;
  grid-template-columns: auto;
		width: 400px;
	 height: auto;
		border-radius: 1rem;
		background-color: #2196F3;
		padding: 15px;
	}

	.grid-item {
		background-color: rgba(255, 255, 255, 0.8);
		border: 1px solid rgba(0, 0, 0,, 0.8);
		padding: 20px;
		font-size: xx-large;
		text-align: center;
	}

	.grid-item li{
		list-style: none;
	}

	.card:hover {
		
	}

		h2 {
		font-size: var(--text-xlg);
		text-align: center;
	}

	img {
		width: auto;
		height: 2rem;
	}

	@media (min-width: 50em) {
		.card {
			height: 22rem;
			border-radius: 1.5rem;
		}

	}
</style>
