---
//import emailjs from '@emailjs/browser';

/* interface Props {
	fullname: string;
  email: string;
  msg: string;
}

const { fullname, email, msg } = Astro.props; */
---

<script src='https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js'
></script>

<script>
	(function () {
		//emailjs.init( "wo8PlMYCCpEbD-2Z5" );
	})();
</script>

<!-- <script>
	const handleForm = async (e) => {
		try {
			//await emailjs.sendForm('contact_service', 'contact_form', document.getElementById('contact-form'));
			alert('email sent');
		} catch (error) {
			console.error(error);
			alert('Failed to send email');
		}
	};
</script> -->
<h4>Contact Form</h4>
<form id='contact-form' onsubmit='handleForm'>
	<!-- To simplify the tutorial, the value is static. -->
	<input type='hidden' name='contact_number' value='697483' />
	<label>Full Name</label>
	<input type='text' name='user_name' /><br /><br />
	<label>Email</label>
	<input type='email' name='user_email' /><br /><br />
	<label>Message</label>
	<textarea name='message'></textarea><br /><br />
	<input type='submit' value='Send your message' />
</form>

<!-- <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" onsubmit="return false">
    <div class="mb-4">
      <label class="block text-gray-500 text-sm font-bold mb-2" for="fullname">
        Full Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="fullname" type="text" placeholder="full name" required>
    </div>
    <div class="mb-6">
      <label class="block text-gray-500 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="email" required>
    </div>

    <div class="mb-6">
      <label class="block text-gray-500 text-sm font-bold mb-2" for="msg">
        Message
      </label>
      <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="msg" rows="5" placeholder="your message" required minlength="3"/>
    </div>
    
    <div class="md:flex md:items-center">
    
    <div class="md:w-2/3">
      <button class="shadow bg-purple-700 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" 
      onclick={"sendMsg()"}>
        Send Message
      </button>
    </div>
  </div>
  </form>

  <script>
    const fullname = null;
    const email = null;
    const msg = null;
    const fields = {fullname, email, msg};
    
    class Message {
      fullname: any;
      email: any;
      msg: any;
      constructor(fullname, email, msg) {
        this.fullname = fullname;
        this.email = email;
        this.msg = msg;
      }
    }
    document.addEventListener("DOMContentLoaded", function() {
      fields.fullname = document.getElementById('fullname');
      fields.email = document.getElementById('email');
      fields.msg = document.getElementById('msg');
    })
    function sendMsg() {
      const message = new Message(fullname.value, email.value, msg.value);
      alert(`${message.fullname} thank you for your message.`)
    }
  </script> -->
