---

---

<h2>Contact me</h2>
<form>
 <input type="email" id="email" name="email" placeholder="email"/>
 <input type="button" id="btn" value="Submit"/>
</form>

<style>
 #email {
  padding: 10px;
  width: 300px;
  border-radius: 5px;border-color: darkgray;
  border-style: solid;
  margin-right: 5px;
  font-size: var(--text-xxl);

 }

 #btn {
  padding: 10px;
  border-radius: 5px;
  border-color: darkgray;
  border: none;
 }
</style>