---
import { Button, Modal, ModalHeader, ModalBody, ModalFooter } from 'free-astro-components'

const { title, description } = Astro.props;
---


    <Modal id="modal-id3" size="xl">
      <ModalHeader>
        <h5>{ title }</h5>
      </ModalHeader>
      <ModalBody>
        <p class="">
          { description }
        </p>
      </ModalBody>
      <ModalFooter>
        <Button label="Close" data-modal-close />
      </ModalFooter>
  </Modal>
