---
//import Icon from './Icon.astro';
//import { Icon } from 'astro-icon';
---

<div class='ops'>
	<h2>Operational areas I can assist you in;</h2>
</div>
<section class='box skills'>
	<div class='stack gap-2 lg:gap-4'>
		<h2>
			<icon
				name='airlines-outline'
				color='var(--accent-regular)'
				width='48'></icon> Airlines
		</h2>
		<p>Scheduled and Cargo airlines</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<h2>Helicopter Ops.</h2>
		<p>HEMS, SAR, Fire Fighting</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<h2>Aerodromes</h2>
		<p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<h2>Ground Services</h2>
		<p>
			Ground Operations including, Ground Handling, Ground Support
			Equipment (GSE), Dangerous Goods Handling
		</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<h2>MRO's</h2>
		<p>
			Maintenance Repair Organizations - Part M, Part 145, 21G, and 21J
			operations
		</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<h2>Military Aviation</h2>
		<p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<h2>Autonomous Vehicles</h2>
		<p>
			Ground Operations including, Ground Handling, Ground Support
			Equipment (GSE), Dangerous Goods Handling
		</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<h2>Training Organizations</h2>
		<p>ATO's, Part 147 and Part 142 organizations</p>
	</div>
	<div class='stack gap-2 lg:gap-4'>
		<h2>M</h2>
		<p>Urna porttitor rhoncus dolor purus non enim praesent ornare.</p>
	</div>
</section>

<style>
	[astro-icon] {
		color: var(--accent-regular);
	}

	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-md);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-xl);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-xl);
		}
	}
</style>
